<a href="https://colab.research.google.com/github/muttakartheek/pyton-lab/blob/main/Copy_of_Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print("sri vasavi engineering college")

hello world
sri vasavi engineering college

In [ ]:
a=5
b=3+5j
c=19.25
#conversion of int to float
x=float0(b)
print("x value is=",x)

TypeError: ignored

cannot convert complex to int and complex to float

In [ ]:
a=55555555599699
b=21e6
c=2+3j
type(c)

complex

In [ ]:
a="0.6"
b="3+9j"
print("the result is",a+b)
type(a+b)

the result is 0.63+9j

str

In [ ]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print("the value of addtion",a+b)
type(a+b)

enter the value of a2
enter the value of b3
the value of addtion 5

int

In [ ]:
print("hello","world","kartheek",sep="\!")

hello\!world\!kartheek

there are two types of tyoe conversions
1).implict
2)explict---------datatype(varaiable)

In [ ]:
#distance between the two points

x1=int(input("enter x1 value="))
x2=int(input("enter x2 value="))
y1=int(input("enter y1 value="))
y2=int(input("enter y2 value="))
x=((x2-x1)**2)
y=((y2-y1)**2)
distance=((x+y)**0.5)
print("the distance between is",distance)

enter x1 value=1
enter x2 value=2
enter y1 value=3
enter y2 value=4
the distance between is 1.4142135623730951

for squareing in pyton
example:
two square
x=2
y=x**2