<a href="https://colab.research.google.com/github/muttakartheek/pyton-lab/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print("sri vasavi engineering college")

hello world
sri vasavi engineering college

In [ ]:
a=5
b=3+5j
c=19.25
#conversion of int to float
x=float0(b)
print("x value is=",x)

TypeError: ignored

cannot convert complex to int and complex to float

In [ ]:
a=55555555599699
b=21e6
c=2+3j
type(c)

complex

In [ ]:
a="0.6"
b="3+9j"
print("the result is",a+b)
type(a+b)

the result is 0.63+9j

str

In [ ]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print("the value of addtion",a+b)
type(a+b)

enter the value of a2
enter the value of b3
the value of addtion 5

int

In [ ]:
print("hello","world","kartheek",sep="\!")

hello\!world\!kartheek

there are two types of tyoe conversions
1).implict
2)explict---------datatype(varaiable)

In [ ]:
#distance between the two points

x1=int(input("enter x1 value="))
x2=int(input("enter x2 value="))
y1=int(input("enter y1 value="))
y2=int(input("enter y2 value="))
x=((x2-x1)**2)
y=((y2-y1)**2)
distance=((x+y)**0.5)
print("the distance between is",distance)

enter x1 value=1
enter x2 value=2
enter y1 value=3
enter y2 value=4
the distance between is 1.4142135623730951

for squareing in pyton
example:
two square
x=2
y=x**2

In [ ]:
'print the number form 1 upto n using for loop'
n=int(input("enter n value"))
for i in range(1,n+1,1):
  print(i,end=" ")

enter n value10
1 2 3 4 5 6 7 8 9 10

In [ ]:
n=int(input("enter n value "))
print ("the even number upto:",n)
for i in range(2,n,2):
  print(i,end=" ")

enter n value 60
the even number upto: 60
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58

In [ ]:
'sum palindrome'
n=int(input("enter n value"))
for i in range (5):
  n1=n
  r=0
  rev=0
  while n!=0:
    r=n%10
    rev=((rev*10)+r)
    n=n//10
  if rev==n1:
    print("the given number is palindrom",rev)
    break
  else:
    n=rev+n1

enter n value456
the given number is palindrom 1221

In [ ]:
'odd numnber'
n=int(input("enter n value="))
for i in range(1,n,2):
  print(i,end=" ")

enter n value=9
1 3 5 7

In [ ]:
'given number is plaindromeor not'
n=int(input("enter n value"))
n1=n
r=0
rev=0
while n!=0:
  r=n%10
  rev=(rev*10)+r
  n=n//10
if rev==n1:
  print("the given number is palindrome",n1)
else:
  print("the number is not palindrome")

enter n value85
the number is not palindrome

In [ ]:
'fibonacci'
n=int(input("enter n value"))
a=0
b=1
print("the fibanocci sequence are:",a," ",b)
for i in range(3,n+1):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

enter n value9
the fibanocci sequence are: 0   1
1 2 3 5 8 13 21

In [ ]:
n=int(input("enter n value"))
a=0
b=1
print("the fibanocci sequence are:",a," ",b)
for i in range(3,n+1):
  c=a+b
  a=b
  b=c
print(c,end=" ")

enter n value9
the fibanocci sequence are: 0   1
21

In [ ]:
'even fibonacci'
n=int(input("enter n value"))
sum=0
a=0
b=1
for i in range(2,n+1):
  c=a+b
  a=b
  b=c
  if i%2==0:
    sum=sum+c
print("sum of even index value is=",sum)

enter n value6
sum of even index value is= 12

In [ ]:
'to construct the following pattern'
n=int(input("enter n row="))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
for i in range(1,n):
  for ij in range(1,n-i+1):
    print("*",end=" ")
  print()

enter n value=5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
'enter the foloowing pattern of number'
n=int(input("enter no ofrows="))
k=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k,end=" ")
    k=k+1
  print()

enter no ofrows=4
1
2 3
4 5 6
7 8 9 10

In [ ]:
str="sri vasavi engg "
for ch in str:
  print(ch,end=" ")

s r i   v a s a v i   e n g g   6

In [ ]:
str="sri vasavi engg college"
print("**",end=" ")
for i in str:
  if i=='o':
    pass
  else:
    print(i,end=" ")
    
print("**")

** s r i   v a s a v i   e n g g   c l l e g e **

In [ ]:
while false:
  print("hello world")

NameError: ignored

In [ ]:
'functions'
def show(str):
  print(str,end=" ")
  str="morning"
  print(str)
str="hello"
show(str)
print(str)

hello morning
hello

In [ ]:
def show():
  global str
  print(str)
  str="morning"
  print(str)
str="hello"
show()
print(str)

hello
morning
morning

In [ ]:
#program to print add of two numbers
def add(a,b):
  return a+b
a=int(input("enter a value="))
b=int(input("enter b value="))
print("the addition is",add(a,b))

enter a value=4
enter b value=6
the addition is 10

In [ ]:
#perfect number
n=int(input("enter n value "))
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if(sum==n):
  print(n,"is perfect number")
else:
  print(n,"is not perfect number")

enter n value 6
6 is perfect number

In [ ]:
def mean(l1):
  a=sum(l1)/len(l1)
  return a
l1=[2,4,6]
l2=[22,23,24]
print("the mean of",l1,"is", mean(l1))
print("the mean of",l2,"is",mean(l2))

the mean of [2, 4, 6] is 4.0
the mean of [22, 23, 24] is 23.0

In [ ]:
list1=[30,40,60,70,80,50,90]
list1.sort()
print(list1)

[30, 40, 50, 60, 70, 80, 90]

In [ ]:
def median(l):
  n=len(l)
  sum=0
  l.sort()

  if(n%2==0):
    sum=l[(n//2)]+l[(n//2)-1]
    m=float(sum/2)
  else:
    m=l[(n)//2]
  print("median=",m)
l1=[6,4,5,1,3,7]
median(l1)

median= 4.5

In [ ]:
import statistics as st
item=[6,1,8,2,3]
st.median(item)

3

In [ ]:
import numpy as np
#create a list
ls=[3,1,4,9,2,5,6,3]
print(np.median(ls))

3.5

In [ ]:
d={1:100,2:200}
print(d.keys())
print(d.values())
print(d[1])
print(d[2])
d[1]=1000
print(d[1])
print(d)

dict_keys([1, 2])
dict_values([100, 200])
100
200
1000
{1: 1000, 2: 200}

In [1]:
def show():
  print (str)
show(str)

TypeError: ignored

In [3]:
def show():
  print(str)
show()

<class 'str'>

In [11]:
'''keywoard argumentes'''
def show(name,age):
  print("name=",name)
  print("age=",age)
show(age=34,name="kartheek")

name= kartheek
age= 34

In [15]:
def show(name,age):
  print("name=",name)
  print("age=",age)
a=34
n="ravi"
show(age=a,name=n)

name= ravi
age= 34

In [28]:
def show(course=" ",*name):
  print("course=",course,"is choosen by")
  for i in name:
    print(i,end=" ")
show("b pharcy","sunitha","ravi","shyam")

course= b pharcy is choosen by
sunitha ravi shyam

In [46]:
def fact_rec(n):
  if n==-9:
    return 1
  else:
    return n*fact_rec(n-1)
n=int(input("enter n="))
print("the factorial of",n,"is",fact_rec(n))

enter n=-3
the factorial of -3 is 20160

In [47]:
def exp_rec(x,y):
  if y==1:
    return x
  else:
    return x*exp_rec(x,y-1)
x=int(input("enter x value="))
y=int(input("enter y value="))
res=exp_rec(x,y)
print(x,"power",y,"is",res)

enter x value=2
enter y value=6
2 power 6 is 64

In [57]:
'''program to find gcd'''
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)
a=float(input("enter a="))
b=float(input("enter b="))
if a>b:
  res=gcd(b,a)
else:
  res=gcd(a,b)
print("the gcd of",a,"and",b,"is",res)

enter a=3
enter b=2
the gcd of 3.0 and 2.0 is 1.0

In [61]:
def lcm(x,y):
  if x>y:
    gt=x
  else:
    gt=y
  while(True):
    if gt%x==0 and gt%y==0:
      return gt
    gt=gt+1
x=int(input("enter x value="))
y=int(input("enter y value=")) 
print("the lcm is ",lcm(x,y))

enter x value=2
enter y value=3
the lcm is  6

In [63]:
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)
def lcm(x,y):
  return int((x*y)/gcd(x,y))
x=int(input("enter a value="))
y=int(input("enter b value="))
print("the lcm of",x,",",y,"is",lcm(x,y))
print("the gcd of",x,",",y,"is",gcd(x,y))

enter a value=-3
enter b value=-2
the lcm of -3 , -2 is -6
the gcd of -3 , -2 is -1

In [76]:
def fib(n):
  if n<2:
    return n
  else:
    return fib(n-1)+fib(n-2)
n=int(input("enter n="))
print("the",n,"th fibanocci number is",fib(n))

enter n=3
the 3 th fibanocci number is 2

In [79]:
def equal(s1,s2):
  st1=sorted(s1)
  st2=sorted(s2)
  cnt=0
  if len(s1)==len(st2):
    for i in range (len(st1)):
      if st1[i]!=st2[i]:
        cnt=cnt+1
  else:
    print("length is not equal")
    return
  if cnt<2:
    print("strings are nearly equal")
  else:
    print("string are not nearly equal")
s1=input("enter s1 value=")
s2=input("enter s2 value=")
equal(s1,s2)

enter s1 value=loop
enter s2 value=pool
strings are nearly equal

In [80]:
def convert(hrs,min):
  min=(hrs*60)+min
  return min
hrs=int(input("enter hours="))
min=int(input("enter minutes="))
min=convert(hrs,min)
print("the total minutes is",min)

enter hours=2
enter minutes=60
the total minutes is 180

In [83]:
def volume(l=2,w=3,h=4):
  print("length",l,"\t width",w,"\t heigth",h)
  return(l*w*h)
print("the volume of",volume())
print("the volume of",volume(5))
print("the volume of",volume(1,4))

length 2 	 width 3 	 heigth 4
the volume of 24
length 5 	 width 3 	 heigth 4
the volume of 60
length 1 	 width 4 	 heigth 4
the volume of 16

In [5]:
def maximum(l):
  max=l[0]
  for i in range(len(l)):
    if max<l[i]:
      max=l[i]
  return max
l=[5,6,7,9]
print("the maximum elemnts in",l,"is",maximum(l))

the maximum elemnts in [5, 6, 7, 9] is 9